html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center; /*centered on the horiz axis*/
	align-items: center; /*centered on the vert axis*/
	font-size: 1em;
}

.container {
	max-width: 1200px;
	width: 90%; /*added - sets width of */
	display: flex; /*Turns on flexbox for container class, which includes header, sections, footer*/
	justify-content: center; /*horiz adxis*/
	align-items: center; /*vert axis*/
	flex-flow: row wrap; /*flex-direction is in a ROW = display elements in a row; flex-wrap is wrap = want element to wrap*/

}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

/*Remove this part - they moved these to appropriate header sections below?
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}*/

p {
	font-size: 14px; /*Leave as pixels...bc setting the font size for future p reference*/
	line-height: 21px;  /*Leave as pixels...see above*/
    /*padding: 0 30px;  Removed padding*/
}

/*Added*/
ul {
	margin: 0;  /*This doesn't seem to do anything...why add??????*/
}

/*The widths are in a percentage!*/
/*Header = Title and nav bar*/
header {
	/*height: 110px;  Remove height*/
	border-bottom: 3px solid #77a466; /*Bottom of header has green border*/
	/*margin: 0 auto;  Removed - why? */
	text-align: center;
	width: 100%;
	display: flex; /*turn on flexbox*/
	justify-content: center; /*Horiz centered*/
	align-items: center;  /*Vert centered*/
	flex-flow: row wrap;  /*Direction - display element in row; Wrap- yes*/
}

header h1 {
	/*float: left; Removed */
	margin: 0;
	padding: 38px 20px 20px 20px; /*Adjust padding to minimize space between title and nav*/
	font-size: 1.875em;
	border-bottom: 3px solid #77a466; /*Added to look good on mobile*/
	width: 100%; /*Added - want header h1 to go across entire screen*/

}

header h1 span {
	color: #77a466;
}

header nav {
	/*float: right;  Removed */
	padding: 20px 0; /*Adjusted to minimize space around nav bar*/
	width: 100%;
}

header nav ul {
	margin: 0;
	padding: 0;
}
	
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px 0; /*Remove padding from sides and put it top and bottom*/
	/*display: inline; Remove to stop the header being inline*/
	list-style: none; /*Add to remove bullet points from list*/
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
/*Top section = image, welcome header, text
Bottom section = specials, reviews, contact*/
.top-section,
.bottom-section {
	/*margin: 0 auto;  Remove*/
	/*clear: both; Remove*/
	display: flex; /*Flexbox*/
	justify-content: center;
	align-items: center;
	flex-flow: row wrap; /*Elements in a row and wrapped*/
}
/*All removed
/*.main-image {
	height: auto
	/*float: left;
}*/

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

/*.main-title {
	height: auto;
	float: left; ALL REMOVED 
}*/

.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
	font-size: 1.125em;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625;
}


.section-one,
.section-two,
.section-three {
	width: 100%;
	/*height: auto; Removed*/
	/*float: left;  Removed*/
	border-top: 1px solid #eee;
}

/*Removed padding and border - don't need vertical borders anymore
.section-one h4 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}
*/

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	/*height: 50px;  Removed*/
	border-top: 3px solid #eee;
	/*margin: 0 auto;
	clear: both;*/
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/******Tablet******/
@media only screen and (min-width:768px) {

	.bottom-section {
		justify-content: space-between;
		align-items: flex-start;
		border-top: 1px solid #eee;
	}

	.section-one,
	.section-two,
	.section-three {
		border-top: none;
		flex-basis: 30%;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 0 20px;
	}

/******Desktop******/
@media only screen and (min-width:1200px) {

	header {
		justify-content: space-between;
	}

	header h1 {
		width: 30%;
		padding: 0;
		text-align: left;
		border-bottom: none;
	}

	header nav {
		width: 40%;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
	}

}